* {
  margin: 0;
  padding: 0;
}

#iframe {
  width: 1280px;
  height: 720px;
  background: lightblue;
}

.item .focus_img {
  visibility: hidden;
}

.item_focus .focus_img {
  visibility: visible;
}

#content {
  width: 1280px;
  height: 720px;
  position: absolute;
}

.focus_img, .item, .pic, .txt {
  position: absolute;
}
