.nav .item {
  width: 202px;
  height: 82px;
  top: 50px;
  left: 30px;
  background: lightgray;
}

.nav .item .txt {
  width: 100%;
  height: 82px;
  line-height: 82px;
  text-align: center;
}

.nav #area0_list_0 {
  left: 100px;
}

.nav #area0_list_1 {
  left: 400px;
}

.content .content1 .item,
.content .content2 .item {
  width: 202px;
  height: 82px;
  top: 200px;
  left: 30px;
  background: lightgray;
}

.content .content1 .item .txt,
.content .content2 .item .txt {
  width: 100%;
  height: 82px;
  line-height: 82px;
  text-align: center;
}

.content .content1 .go_left,
.content .content1 .go_right,
.content .content2 .go_left,
.content .content2 .go_right {
  position: absolute;
  top: 210px;
}

.content .content1 .go_left,
.content .content2 .go_left {
  left: 30px;
}

.content .content1 .go_right,
.content .content2 .go_right {
  left: 1220px;
}

.content .content1 #area1_list_0,
.content .content2 #area1_list_0 {
  left: 100px;
}

.content .content1 #area1_list_1,
.content .content2 #area1_list_1 {
  left: 400px;
}

.content .content1 #area1_list_2,
.content .content2 #area1_list_2 {
  left: 700px;
}

.content .content1 #area1_list_3,
.content .content2 #area1_list_3 {
  left: 1000px;
}

.content .content2 #area3_list_0 {
  top: 350px;
  left: 100px;
}

.content .content2 #area3_list_1 {
  top: 350px;
  left: 400px;
}

.content .content2 #area3_list_2 {
  top: 350px;
  left: 700px;
}

.content .content2 #area3_list_3 {
  top: 350px;
  left: 1000px;
}

.content .content2 #area4_list_0 {
  top: 500px;
  left: 400px;
}

.content .content2 #area4_list_1 {
  top: 500px;
  left: 700px;
}

.content .content2 #page {
  position: absolute;
  font-size: 40px;
  top: 510px;
  left: 620px;
}

.footer {
  position: absolute;
  top: 600px;
  width: 100%;
  font-size: 28px;
  letter-spacing: 50px;
}

.footer .item {
  width: 100%;
  height: 82px;
  background: lightgray;
}

.footer .txt {
  width: 100%;
  height: 82px;
  line-height: 82px;
  text-align: center;
}
